{% extends "patacrep/base_template.html" %}
{% load static %}

{% block pagetitle %}
{{ chord.title }} - <small>{{ chord.artist }}</small>
{% endblock %}

{% block buttons %}
  <a class="btn btn-primary" href="{% url 'patacrep:nextprevrand' chord.pk 'rand' %}"><i class="fas fa-random"></i></a>
  <a class="btn btn-primary" href="{% url 'patacrep:nextprevrand' chord.pk 'prev' %}"><i class="fas fa-angle-left"></i></a>
  <a class="btn btn-primary" href="{% url 'patacrep:nextprevrand' chord.pk 'next' %}"><i class="fas fa-angle-right"></i></a>
{% endblock %}

{% block options %}
<a class="dropdown-item" href="{% url 'patacrep:edit' chord.id %}">edit</a>
<a class="dropdown-item" id="clean" chord_pk="{{chord.pk}}" href="#">clean</a>
{% endblock options %}

{% block infotab %}
  {% if chord.favorite %}
      <i class="fas fa-star" style="color:yellow"></i>
  {% else %}
      <i class="far fa-star"></i>
  {% endif %}
{% endblock infotab %}


{% block content %}
{% autoescape on %}
<div id="chordcontent">
{{ chord.content }}
</div>
{% endautoescape %}
{% endblock %}

{% block js %}
  <!-- jQuery -->
  <script src="{% static 'external/jquery-3.4.1.min.js' %}"></script>

  <script>
    $(document).ready(function(){
      var lines = $('#chordcontent').text().split('\n');
      for(var i = 0;i < lines.length;i++){
        lines[i] = "<div class=\"chordline\">" + lines[i] + "</div>";
      }
      $("#chordcontent").replaceWith(lines.join("\n"));
    });
  </script>
  
  <script>

    $(document).ready(function() {
      $(document).on('click', '.fa-star', function(){
        var pref = $(this).attr('data-prefix');
        if(pref == 'fas'){
          $(this).attr('data-prefix', 'far');
          $(this).css('color', 'unset');
        } else if (pref == 'far') {
          $(this).attr('data-prefix', 'fas');
          $(this).css('color', 'yellow');
        } else {
          console.log("mistake");
        }
      });
    });

  </script>
{% endblock js %}