{% extends "patacrep/base_template.html" %}

{% block pagetitle %}
{{ chord.title }} - <small>{{ chord.artist }}</small>
{% endblock %}

{% block buttons %}
  <a class="btn btn-primary" href="{% url 'patacrep:edit' chord.id %}">edit</a>
  <a class="btn btn-primary" id="clean" chord_pk="{{chord.pk}}">clean</a>
  <a class="btn btn-primary" id="next" chord_pk="{{chord.pk}}">next</a>
{% endblock %}

{% block content %}
{% autoescape on %}
<div id="chordcontent">{{chord.content}}</div>
{% endautoescape %}
{% endblock %}

{% block js %}
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function(){
      var lines = $('#chordcontent').text().split('\n');
      for(var i = 0;i < lines.length;i++){
        lines[i] = "<div class=\"chordline\">" + lines[i] + "</div>";
      }
      $("#chordcontent").replaceWith(lines.join("\n"));
    });
  </script>
  <script>
    $("#next").click(function () {
      var chord_pk = $(this).attr("chord_pk");
      $.ajax({
        url: '{% url "patacrep:ajax_next" %}',
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'chord_pk': chord_pk
        },
        dataType: 'json',
        success: function (data) {
          // console.log(data.pkid);
          window.location.href = '{% url "patacrep:detail" 0 %}'.replace('0', data.pkid);
          // location.href = "http://www.example.com/ThankYou.html"; 
          // if (data.is_taken) {
          //   alert("Successfully modified : " + data.pkid);
          // }
        }
      });
    });
  </script>
  <script>
    $("#clean").click(function () {
      var chord_pk = $(this).attr("chord_pk");
      $.ajax({
        url: '{% url "patacrep:ajax_clean" %}',
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'chord_pk': chord_pk
        },
        dataType: 'json',
        success: function (data) {
          // console.log(data.pkid);
          window.location.href = '{% url "patacrep:detail" 0 %}'.replace('0', data.pkid);
          // location.href = "http://www.example.com/ThankYou.html"; 
          // if (data.is_taken) {
          //   alert("Successfully modified : " + data.pkid);
          // }
        }
      });
    });
  </script>

{% endblock %}