{% extends "patacrep/base_template.html" %}
{% load static %}

{% block pagetitle %}
{{ chord.title }} - <small>{{ chord.artist }}</small>
{% endblock %}

{% block buttons %}
  <a class="btn btn-primary" href="{% url 'patacrep:detail' rand %}"><i class="fas fa-random"></i></a>
  <a class="btn btn-primary" href="{% url 'patacrep:detail' prev %}"><i class="fas fa-angle-left"></i></a>
  <a class="btn btn-primary" href="{% url 'patacrep:detail' next %}"><i class="fas fa-angle-right"></i></a>
{% endblock %}

{% block options %}
<a class="dropdown-item" href="{% url 'patacrep:edit' chord.id %}">edit</a>
<a class="dropdown-item" id="clean" chord_pk="{{chord.pk}}" href="#">clean</a>
{% endblock options %}

{% block infotab %}
  {% if chord.favorite %}
      <i class="fas fa-star" style="color:yellow"></i>
  {% else %}
      <i class="far fa-star"></i>
  {% endif %}
  {% if chord.capo > 0 %}
      <span>Capo {{ chord.capo }}</span>
  {% endif %}

  <select class="form-control form-control-sm p-0" id="start-note-selector">
    {% for value, text in form.start_note.field.choices %}
      {% if value == chord.start_note %}
        <option selected="{{ value }}">{{text}}</option>
      {% else %}
        <option value="{{ value }}">{{text}}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endblock infotab %}


{% block content %}
{% autoescape on %}
<div id="chordcontent">
{{ chord.content }}
</div>
{% endautoescape %}
{% endblock %}

{% block js %}
  <!-- jQuery -->
  <script src="{% static 'external/jquery-3.4.1.min.js' %}"></script>

  <script>
    $(document).ready(function(){
      var lines = $('#chordcontent').text().split('\n');
      for(var i = 0;i < lines.length;i++){
        lines[i] = "<div class=\"chordline\">" + lines[i] + "</div>";
      }
      $("#chordcontent").replaceWith(lines.join("\n"));
    });
  </script>
  
  <script>
    // Favorite toggle (star)
    $(document).ready(function() {
      $(document).on('click', '.fa-star', function(){
        var star = $(this);
        $.ajax({
          url: '{% url "patacrep:toggle_favorite" %}',
          type: "POST",
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'chord_pk': '{{chord.pk}}',
          },
          dataType: 'json',
          success: function (data) {
            if (data.added) {
              $(star).attr('data-prefix', 'fas');
              $(star).css('color', 'yellow');
            } else {
              $(star).attr('data-prefix', 'far');
              $(star).css('color', 'unset');
            }
          }
        });
      });

      $(document).on('change', '#start-note-selector', function() {
        var new_start_note_value = $('#start-note-selector').find(":selected").attr('value');
        $.ajax({
          url: '{% url "patacrep:change_start_note" %}',
          type: "POST",
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'chord_pk': '{{chord.pk}}',
              'new_start_note': new_start_note_value, 
          },
          dataType: 'json',
          success: function (data) {
            // todo notification
          }
        });
      });
    });

  </script>

  <script>
    $("#next").click(function () {
      var chord_pk = $(this).attr("chord_pk");
      $.ajax({
        url: '{% url "patacrep:ajax_next" %}',
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'chord_pk': chord_pk
        },
        dataType: 'json',
        success: function (data) {
          // console.log(data.pkid);
          window.location.href = '{% url "patacrep:detail" 0 %}'.replace('0', data.pkid);
          // location.href = "http://www.example.com/ThankYou.html"; 
          // if (data.is_taken) {
          //   alert("Successfully modified : " + data.pkid);
          // }
        }
      });
    });
  </script>
  <script>
    $("#clean").click(function () {
      var chord_pk = $(this).attr("chord_pk");
      $.ajax({
        url: '{% url "patacrep:ajax_clean" %}',
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'chord_pk': chord_pk
        },
        dataType: 'json',
        success: function (data) {
          // console.log(data.pkid);
          window.location.href = '{% url "patacrep:detail" 0 %}'.replace('0', data.pkid);
          // location.href = "http://www.example.com/ThankYou.html"; 
          // if (data.is_taken) {
          //   alert("Successfully modified : " + data.pkid);
          // }
        }
      });
    });
  </script>
{% endblock js %}