{% extends "patacrep/base_template.html" %}
{% load static %}

{% block pagetitle %}
  Index
{% endblock %}

{% block navbar_extra %}
<form class="form-inline my-2 my-lg-0">
  <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</form>
{% endblock navbar_extra %}

{% block options %}
{% endblock options %}

{% block content %}
  {% for artist, chords in dartist.items %}
      <span class="artist-header"><span class="font-weight-bold artist" id="{{ artist | slugify }}">{{ artist }}</span>
      {% for chord in chords %}
        <span class="chord {% if forloop.last %}bottom-rounded{%endif%}" data-artist="{{artist | slugify }}"><a href="{% url 'patacrep:detail' chord.id %}">{{ chord.title }}</a>
          {% if chord.removed_content_confirmation or chord.warning_lines %}
            <!-- <a href="{% url 'patacrep:confirm_remove' chord.id %}" class="badge badge-warning float-right mx-1">confirm</a> -->
          {% endif %}
          {% if chord.favorite %}
            <i class="fas fa-star mx-1" style="color:yellow"></i>
          {% endif %}
        </span>
        {% if forloop.first %}
          </span>
        {% endif %}
      {% endfor %}
  {% endfor %}
{% endblock %}


{% block js %}
{{block.super}}
<script>
  $(document).ready(function(){
    $("#searchbar").on('input', function() {
      var search = $(this).val();
      $( ".artist" ).each(function() {
        var $artist = $(this);
        var resartist = $artist.text().match(new RegExp(search, 'i'));
        if(resartist == null) { // doesn't match the artist
          var at_least_one = false;
          $( '.chord[data-artist="'+$artist.attr('id')+'"]').each(function() { // check for match in chords of the artist
            var $chord = $(this);
            var reschord = $chord.text().match(new RegExp(search, 'i'));
            if (reschord == null) { // chord doesn't match -> hide
              $chord.hide();
            } else { // chord match -> show and do not hide artist
              at_least_one = true;
              $chord.show();
            }
          });
          if (at_least_one) {
            $artist.show();
          } else {
            $artist.hide();
          }
        } else { // match the artist, show every chord
          $artist.show();
          $( '.chord[data-artist="'+$artist.attr('id')+'"]').each(function() {
            $(this).show();
          });
        }
      });
    });


    function anchor_highlight(artist) {
        var $artist = $('.artist[id="'+artist+'"]');
        var $chord = $( '.chord[data-artist="'+artist+'"]');
        var scroll_amount = $artist.offset().left - 5;
        if ($('.sidebar').is(":visible")) {
          scroll_amount -= $('.sidebar').width();
        }
        $('.content').stop().animate({
            scrollLeft: '+='+scroll_amount
        }, 600);

        $artist.addClass('anchor');
        $chord.each(function() {
          $(this).addClass('anchor');
        });

        setTimeout( function() {
          $chord.each(function() {
            $(this).removeClass('anchor');
          });
          $artist.removeClass('anchor');
        }, 2000);
    }

    var hash = window.location.hash.substr(1);
    if (hash) {
      anchor_highlight(hash);
    }

    $(".artist-list").bind('click',function(event){
        var artist = $(this).data("artist");
        anchor_highlight(artist);
    //     event.preventDefault();
    });
  });
</script>
{% endblock %}
