{% extends "patacrep/base_template.html" %}
{% load static %}

{% block pagetitle %}
  <span>{{ nb_chords }} chords</span>{% if user.is_superuser %}<span>{{ nb_warn }} warnings</span>{% endif %}
{% endblock %}

{% block navbar_extra %}
<div class="dropdown" id="filter-dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-sm shadow-none" type="button" id="dropdownFilterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-filter"></i>
  </button>
  <div class="dropdown-menu text-center" id="dropdownMenuFilters" aria-labelledby="dropdownFilterButton">
    <div class="btn-group btn-group-sm btn-group-toggle">
      {% if user.is_superuser %}
      <button type="button" id="favorite-filter" class="btn btn-primary shadow-none boolean-filter" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fas fa-star"></i></button>
      <button type="button" id="project-filter" class="btn btn-primary shadow-none boolean-filter" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fas fa-hammer"></i></button>
      <button type="button" id="warning-filter" class="btn btn-primary shadow-none boolean-filter" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fas fa-exclamation-triangle"></i></button>
      {% endif %}
      <button type="button" id="new-filter" class="btn btn-primary shadow-none boolean-filter" data-toggle="button" aria-pressed="false" autocomplete="off">new</button>
    </div>
  </div>
</div>
<form class="form-inline">
  <input id="searchbar" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
</form>
{% endblock navbar_extra %}

{% block options %}
{% endblock options %}

{% block content %}
<div class="content list-group">
  {% for artist, chords in dartist.items %}
    <span class="artist list-group-item list-group-item-secondary font-weight-bold" id="{{ artist | slugify }}">{{ artist }}</span>
    {% for chord in chords %}
    <a href="{% url 'patacrep:detail' chord.chord_id %}"
      class="chord list-group-item list-group-item-action
      {% if forloop.last %} bottom-rounded {%endif%}
      {% if user.is_superuser and chord.warning_lines %} list-group-item-warning {% endif %}"
      data-artist="{{artist | slugify }}"
      {% if user.is_superuser %}
        data-favorite="{{chord.favorite|yesno:'1,0'}}"
        data-project="{{chord.in_project|yesno:'1,0'}}"
      {% endif %}
      {% if chord.chord_id in last_created %}data-new="1"{% endif %}
      >
      <span class="mx-1 mr-auto">{{ chord.title }}</span>
      <span class="badge badge-info ml-1">{% if chord.in_project and user.is_superuser %}<i class="icon fas fa-hammer"></i>{% endif %}{% if chord.favorite and user.is_superuser %}<i class="icon fas fa-star"></i>{% endif %}</span>
      {% if chord.chord_id in last_created %}<span class="badge badge-info ml-1">new</span>{% endif %}
    </a>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}


{% block js %}
{{block.super}}
<script>
  var NEED_BREAK_RM = true;

  $(document).ready(function(){
    $("#searchbar").on('input', function() {
      var search = $(this).val();
      $( ".artist" ).each(function() {
        var $artist = $(this);
        var resartist = $artist.text().match(new RegExp(search, 'i'));
        if(resartist == null) { // doesn't match the artist
          var at_least_one = false;
          $( '.chord[data-artist="'+$artist.attr('id')+'"]').each(function() { // check for match in chords of the artist
            var $chord = $(this);
            var reschord = $chord.text().match(new RegExp(search, 'i'));
            if (reschord == null) { // chord doesn't match -> hide
              $chord.hide();
            } else { // chord match -> show and do not hide artist
              at_least_one = true;
              $chord.show();
            }
          });
          if (at_least_one) {
            $artist.show();
          } else {
            $artist.hide();
          }
        } else { // match the artist, show every chord
          $artist.show();
          $( '.chord[data-artist="'+$artist.attr('id')+'"]').each(function() {
            $(this).show();
          });
        }
      });
      if(!$(this).val()) {
        specialWrap('.list-group-item');
      } else if (NEED_BREAK_RM) {
        $(".break").remove();
        NEED_BREAK_RM = false;
      }
    });

    function wrap_artist_and_first_chord() {
      $('.artist').each(function(){
        if ($(this).next('.chord').next().hasClass('artist')) {
          $(this).next('.chord').add(this).wrapAll('<span>');
        } else {
          $(this).next('.chord').addClass('not-last').add(this).wrapAll('<span class="artist-header">');
        }
      });      
    }

    // $("#searchbar").on('focus', function() {
    //   $('.artist').each( function () {
    //     if ($(this).parent().hasClass('artist-header')) {
    //       $(this).unwrap();
    //     }
    //   });  
    // });

    // $("#searchbar").on('blur', function() {
    //   if ($(this).val() == "") {
    //     wrap_artist_and_first_chord();
    //   }
    // }); 

    // wrap_artist_and_first_chord();

    function anchor_highlight(artist) {
        var $artist = $('.artist[id="'+artist+'"]');
        var $chord = $( '.chord[data-artist="'+artist+'"]');
        var scroll_amount = $artist.offset().left - 5;
        if ($('.sidebar').is(":visible")) {
          scroll_amount -= $('.sidebar').width();
        }
        $('.content').stop().animate({
            scrollLeft: '+='+scroll_amount
        }, 600);

        $artist.addClass('anchor');
        $chord.each(function() {
          $(this).addClass('anchor');
        });

        setTimeout( function() {
          $chord.each(function() {
            $(this).removeClass('anchor');
          });
          $artist.removeClass('anchor');
        }, 2000);
    }

    var hash = window.location.hash.substr(1);
    if (hash) {
      anchor_highlight(hash);
    }

    $(".artist-list").bind('click',function(event){
        var artist = $(this).data("artist");
        anchor_highlight(artist);
    //     event.preventDefault();
    });

    $('#dropdownMenuFilters').on("click.bs.dropdown", function (e) { 
      e.stopPropagation(); e.preventDefault();
    });

    $('.boolean-filter').click(function() {
      $(this).button('toggle');
      apply_filters();
    });
  });

  function specialWrap(className) {
    $(".break").remove();
    var prevItem = {};
    var currItem = {};
    $(className+":visible").each(function() {
      currItem = this.getBoundingClientRect();
      if (!prevItem || prevItem.top >= currItem.top) {
        if ($(this).prev().hasClass('artist')) {
          $( "<span class='break'></span>" ).insertBefore( $(this).prev() );
        }
      }
      prevItem = currItem;
    });
    NEED_BREAK_RM = true;
  }

  function match_filters($el, fav, proj, is_new, warning) {
    if((fav && $el.data('favorite')==1) || (proj && $el.data('project')==1) || (is_new && $el.data('new')==1) || (warning && $el.hasClass('list-group-item-warning'))) {
      return true;
    }
    return false;
  } 

  function apply_filters() {
    $(".break").remove();
    $(".chord, .artist").show();
    var favorite = $('#favorite-filter').hasClass('active');
    var project = $('#project-filter').hasClass('active');
    var is_new = $('#new-filter').hasClass('active');
    var warning = $('#warning-filter').hasClass('active');
    if (favorite || project || is_new || warning) {
      $(".chord").each(function() {
        if(!match_filters($(this), favorite, project, is_new, warning)) {
          $(this).hide();
        }
      });
      $('.artist').each(function (){
        if(!$(this).nextAll(':visible:first').hasClass('chord')) {
          $(this).hide();
        }
      });
    }
    specialWrap('.list-group-item');
  }

  window.onload = function(event){
    specialWrap('.list-group-item');
  };
  window.onresize = function() {
    specialWrap('.list-group-item');
  };
</script>
{% endblock %}
