@font-face {
  font-family: Grand Hotel;
  src: local("GrandHotel-Regular"),
       url(GrandHotel-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: local("Roboto-Regular"),
       url(Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: local("RobotoMono-Regular"),
       url(RobotoMono-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: local("SourceSansPro-Regular"),
       url(SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: SourceCodePro;
  src: local("SourceCodePro-Regular"),
       url(SourceCodePro-Regular.ttf);
}

html,
body {
  height: 100%;
  font-family: SourceSansPro;
}

span {
  background-color: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.header {
    display: flex;
    flex-flow: row;
    flex: 0 1 auto;
    align-items: center;
    background-color: #39325d;
    color: #dadae0;
}

.menu-toggle {
  margin-left: 10px;
  color: unset;
}

a.website-name {
  font-family: Grand Hotel;
  font-size: 34px;
  padding: 5px 10px;
  color: unset;
}

a.website-name:hover {
  color:#b2b2ff;
  text-decoration: none;
}

.page-title {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: 24px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
}

.page-title > * {
  margin: 0px 5px;
}

.page-buttons {
  display: flex;
  flex-flow: row wrap;
  margin-right: 10px;
  /*margin-left: auto;*/
  align-items: center;
}

.page-buttons > a, .page-buttons > div  {
  margin: 5px;
  display: flex;
  align-items: center; 
}

.content-wrapper {
  display: flex;
  flex-flow: row;
  overflow-y: hidden;
}

.anchor {
  background-color: #fbdcb7;
}

.artist-header {
  display: flex;
  flex-direction: column;
  border-radius:8px 8px 0px 0px; 
  overflow: hidden
}

.artist, .chord {
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
  padding: 0 7px
}

.chord {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.bottom-rounded {
  border-radius: 0px 0px 8px 8px; 
}

.sidebar {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-flow: column wrap;
  flex: 6 1 auto;
  overflow-y: hidden;
  overflow-x: auto;
  /* top | horizontal | bottom */
  padding: 1em 1em 2px;
}

.chordline {
  font-family: SourceCodePro;
  font-size: 75%;
  white-space:pre;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px dashed #333;
}

#start-note-selector, #start-note-selector * {
  width: fit-content;
  height: fit-content;
  background-color: #dadae0;
  color: #39325d;
  /*border: 2px solid #dadae0;*/
  border: 0px;
  font-family: inherit;
}

.infotab {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*margin-right: auto;*/
}

.infotab > * {
  margin:5px;
}

.content > #edit-chord-container {
  overflow-y: auto;
}

.flex-col {
  display: flex;
  width: max-content;
  flex-flow: column nowrap;
}